<h1>Editing item</h1>

<%= render 'form' %>

<% unless @options.empty? %>
  <div class="option-container">
  <% @options.each do |opt| %>
    <div class="option-set">
      <span class="option-name"><%= opt[:name] %></span>
      <span class="option-price">$<%= '%.2f' % (opt[:price_in_cents].to_f / 100) %></span>
    </div>
  <% end %>
  </div>
<% else %>
<p>There are no options for this item.</p>
<% end %>

<%= link_to 'Add Options', controller: 'options', action: 'new', for_item: @item.id %> |
<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
